@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.calculator-container {
  height: 100%;
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
}
