@import '../shared/variables';

.display-container {
  height: 100px;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  text-align: right;
  font-weight: bold;
  font-size: 2em;
  color: white;
  background: $grey;

  .previous-calculation {
    font-size: 0.5em;
    margin-top: 0;
    margin-right: 0.5em;
    color: $light-grey;
  }
}
